html, body {margin:0px; padding:0px; -webkit-font-smoothing: antialiased;}

div#wraper {position:relative; min-height:400px;}
div#wraper> div#header, div#wraper> div#main, div#wraper> div#footer {width:100%; clear:both;}


div#header {height:50px; color:#666; background-color:#f3f3f3; font-size:14px; }
div#header #header-left {float:left; line-height: 50px; text-indent:15px;}
div#header #header-left strong {font-size:18px; font-weight:bold;}
div#header #header-right {float:right; line-height:50px; margin-right:15px;}
div#header #header-right div{display:inline; margin:0px 10px;}

div#main {clear:both; overflow:hidden;}
div#main #main-left, div#main #main-right {}
div#main #main-left {width:200px; border-right:1px solid #dedede; float:left;}
div#main #main-left-menu ul, div#main #main-left-menu li {margin:0px; padding:0px; list-style-type: none;}
div#main #main-left-menu ul>li {min-height:50px; line-height:50px; text-indent:20px; color:#5C5C5C; border-top:1px solid #dedede; background-color:white;}
div#main #main-left-menu ul li:last-child {border-bottom:1px solid #dedede;}
div#main #main-left-menu ul li a {color:#5C5C5C; text-decoration:none; display:block;}

div#main #main-left-menu ul>li>ul {background:#ececec; display:none;}
div#main #main-left-menu ul>li>ul>li {margin-left:20px; height:40px; line-height:40px; min-height: 40px;} 
div#main #main-left-menu ul>li>ul>li:last-child{border-bottom:none;}

div#main #main-right {margin-left:200px;}
div#main #main-right #main-right-header {height: 50px; line-height: 50px; text-indent: 20px; border-bottom:1px solid #eee}

div#main #main-right-main-content {margin:10px;}

div#footer {position:absolute; bottom:-50px; left:0px;}
div#footer {height:50px; background-color:white; color:#333; font-size:16px; border-top:1px solid #dedede;}
div#footer>div {text-indent:20px; line-height:50px; }


span.mark-number {background-color:#F37B1D; color:white; font-size:12px; padding:4px 9px; margin:4px;} 
.sharp {-webkit-font-smoothing: antialiased;}
.subtitle {color:#0E90D2;font-size: 18px; font-weight: bold;}
.subtitle span {color:black; font-size:15px; font-weight:normal; }
.expand {float: right; margin-right: 10px; }
.code {background: #f8f8f8; border:1px solid #dedede; white-space: pre-wrap; word-wrap: break-word; line-height: 20px; font-size: 15px; margin: 10px 20px; padding: 10px;}
.hidden {display:none;}

/* 按钮，输入框 */
.textfield {padding: 10px; font-size: 16px; width:100%; outline:0; border:1px solid #DEDEDE;}
.textfield:focus {border:1px solid #0E90D2;}
.savebtn   {color: #fff; background-color:#0E90D2; padding:10px 20px; font-size:17px; outline:0; border: 1px solid #0a6999; cursor:pointer;}
.editbtn   {padding: 4px 10px; cursor:pointer; outline:0}
.editbtn:hover {background-color: #C5A9A9; }
.savebtn:hover {background-color: #0a6999; }
.larger {zoom:150%;}

/*表单，提交数据 */
.form {margin:10px 20px;}
.form table tr {height:60px;}
.form table tr td:first-child{text-align:right;}
.form table td input , .form td textarea {}
.form label {margin-right:20px; font-size:17px; font-weight:bold;}
.form table textarea {border:1px solid #DEDEDE;}

/* 表格, 显示数据集 */
.table {width:100%; border-collapse: collapse;  border-spacing: 0;}
.table thead {font-size:16px;}
.table tbody {font-size:14px;}
.table thead tr {border-bottom:1px solid #ECECEC;}
.table thead tr th {text-align:left;}
.table tbody tr:nth-child(odd) {background:#f5f5f5; border-bottom:1px solid #DEDEDE; border-top:1px solid #DEDEDE;}
.table tbody tr:first-child {border-top:2px solid #C5A9A9;}
.table tbody tr:hover {background-color:#E6E6E6;}
.table td {border:0; margin:0px; padding:0px; display:inline;}
.table tr {height:40px; line-height:40px;}

/*  分页  */
div.page {text-align: right;}
div.page ul, div.page li {margin:0px; padding:0px; list-style-type:none; display:inline-block;}
div.page ul li {padding:10px; margin-right:7px; font-size:14px; background-color:white; border:1px solid #DDD; }
div.page ul li a {text-decoration:none; color:#6970F2; }
div.page ul li:hover {background:#f5f5f5;}
div.page ul li.active {background-color:#0e90d2; border-color: #0e90d2; }
div.page ul li.active a{color:white;}


/* 操作的菜单 */
.edit-menu {background-color:#E6E6E6; display: inline-block; font-size:14px; height:34px; line-height:34px; border:1px solid #C5A9A9;}
.edit-menu ul, .edit-menu li {margin:0px; padding:0px; list-style-type:none;  float:left; }
.edit-menu ul li {padding:0px 15px; border-right:1px solid #C5A9A9; }
.edit-menu ul li:hover {background-color:#DEDEDE;}
.edit-menu ul li:hover a{color:#333;}
.edit-menu ul li a {text-decoration:none; font-size:13px;}
.edit-menu ul li:last-child {border:none;}


.search-menu {float:right;}
.search-menu input {padding:5px 14px; font-size:14px; background-color:#E6E6E6; color:#333; border:1px solid #CCC; outline:0;}
.search-menu input:hover {border:1px solid #0E90D2;}
.search-menu select {zoom:150%;}
